.menu-bar-container {
    margin-left: 20px;
    margin-right: 0px;
    display: flex;
    overflow-x: auto;
}

.menu-bar-container::-webkit-scrollbar{
    display: none;
}
.menu-bar-button {
    margin-right: 40px;
    background-color: white;
    cursor: pointer;
    outline: none;
}
.menu-bar-text {
    color: #12153D;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 39px;  
    opacity: 0.3;
    border: 0;
} 

.menu-bar-text:focus {
    border-bottom: 4px solid #FE6D8E;
    color: black;
    opacity: 1;
}